* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "kalam", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

.game {
  margin: 0 auto;
  height: 100vh;
  background-color: #1864ab;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}

h1 {
  font-size: 7.4rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 3.2rem;
}
header {
  padding: 3.2rem 4.8rem;
  margin-bottom: 3.2rem;
}
.header-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number {
  text-align: center;
  width: 15rem;
  font-size: 4.8rem;
  padding: 3.6rem 3.6rem;
  display: block;
  background-color: #e8f0f7;
  border-radius: 9px;
  color: #222;
}
.btn {
  color: #222;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  border-radius: 9px;
  border: none;
  font-family: inherit;
  background-color: #e8f0f7;
  cursor: pointer;
}

.btn:hover {
  background-color: #0c3256;
  color: #fff;
}

.between {
  font-size: 1.8rem;
}
main {
  padding: 3.2rem 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.right {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.left {
  justify-self: center;
}

.guess {
  display: block;
  width: 6.4rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #222;
  border: none;
  background-color: #e8f0f7;
  border-radius: 9px;
  margin-bottom: 1.2rem;
}
.message {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
}
